body {
    background-color: #1f192f
}
main div {
    display: flex;
    padding: 0 10vw;
    justify-content: center;
    align-items: center;    
}
main div svg {
    margin: 0 0;
    height: fit-content;
    width: 100vw;
}
main h1 {
    text-align: center;
    font-size: 2.5rem;
    color: antiquewhite;
}
main  p {
    font-size: 1.6rem;
    color: antiquewhite;
}
footer h2 {
    text-align: center;
    color: antiquewhite;
}
footer p {
    font-size: 1.5rem;
    text-align: center;
    background-color:#b5e8c3 ;
    padding: 40px 30px;
    border-radius: 20px;
    margin: 0 30vw;
}
