body {
    background-color: rgb(145, 84, 116);
}
main div {
    display: flex;
    padding: 0 10vw;
    justify-content: center;
    align-items: center;    
}
main div svg {
    background-color: white;
    margin: 0 0;
    height: fit-content;
}
